<!--
  ~ (c) Copyright 2022 Swiss Post Ltd
  -->
<md-dialog ng-class="{'full-screen': true}" ng-controller="membersPasswords">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="flex"><span translate>Constitute board</span> {{selectedAuthority.alias}}</h2>
			<div>
				<md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="closeDialog()" ng-if="!twoStepsClosing">
					<md-icon md-svg-src="assets/icons/ic_close_24px.svg"></md-icon>
				</md-button>
				<div class="constitute-manager-close-question" ng-if="twoStepsClosing">
					<span translate>Confirm close?</span>
					<md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="exitDialog()">
						<span translate>Yes</span>
					</md-button>
					<md-button aria-label="{{'Close dialog' | translate}}" class="md-icon-button" ng-click="discardClose()">
						<span translate>No</span>
					</md-button>
				</div>
				<div class="constitute-manager-close" ng-if="twoStepsClosing">
					<span translate>Please note that if you cancel the Constitution process at this stage you will need to start it again from scratch. You may not be able to reuse any of the passwords that you set so far. </span>
				</div>
			</div>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
		<div class="md-dialog-content-body">

			<div class="constitute-manager-wrapper">
				<div>
					<p ng-show="isMode('setup')">
						{{'To constitute the Electoral Board please choose a password for each member of the' | translate}}
						{{selectedAuthority.defaultTitle}}
					</p>
					<p ng-show="isMode('tally')">
						{{'To activate the Electoral Board please enter the password for each member of the' | translate}}
						{{selectedAuthority.defaultTitle}}
					</p>
					<div ng-show="isMode('setup')">
						<p>The password must at least satisfy this policy:</p>
						<ul class="password-policy-list">
							<li>
								<span ng-show="isPasswordHasBeenValidated">
									<md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
											 ng-show="!isPasswordLengthError"></md-icon>
									<md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg" ng-show="isPasswordLengthError"></md-icon>
								</span>
								A length of minimum 12 to maximum 64 characters.
							</li>
							<li>
								<span ng-show="isPasswordHasBeenValidated">
									<md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg" ng-show="!isPasswordDigitError"></md-icon>
									<md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg" ng-show="isPasswordDigitError"></md-icon>
								</span>
								It must contain at least 1 digit.
							</li>
							<li>
								<span ng-show="isPasswordHasBeenValidated">
									<md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
											 ng-show="!isPasswordSpecialError"></md-icon>
									<md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
											 ng-show="isPasswordSpecialError"></md-icon>
								</span>
								It must contain at least 1 special character.
							</li>
							<li>
								<span ng-show="isPasswordHasBeenValidated">
									<md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
											 ng-show="!isPasswordLowercaseError"></md-icon>
									<md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
											 ng-show="isPasswordLowercaseError"></md-icon>
								</span>
								It must contain at least 1 lowercase character.
							</li>
							<li>
								<span ng-show="isPasswordHasBeenValidated">
									<md-icon class="icon-valid" md-svg-src="assets/icons/ic_check_24px.svg"
											 ng-show="!isPasswordUppercaseError"></md-icon>
									<md-icon class="icon-error" md-svg-src="assets/icons/ic_error_24px.svg"
											 ng-show="isPasswordUppercaseError"></md-icon>
								</span>
								It must contain at least 1 uppercase character.
							</li>
						</ul>
					</div>
					<hr>
				</div>
				<div class="constitute-manager">
					<div class="constitute-manager-members">
						<md-list>
							<md-list-item ng-repeat="member in listOfElectoralAuthorityMembers track by $index">
								<md-button id="memberButton_{{$index}}"
										   ng-class="{'is-current': selectedMember === member && !membersStatusDone[member], 'is-done': membersStatusDone[member]}"
										   ng-click="selectMember(member);"
										   ng-disabled="selectedMember === member || membersStatusDone[member]">
									<md-icon aria-label="{{'Member' | translate}}" class="icon-idle"
											 md-svg-src="assets/icons/ic_person_24px.svg"></md-icon>
									<md-icon aria-label="{{'Current' | translate}}" class="icon-current"
											 md-svg-src="assets/icons/ic_arrow_forward_24px.svg"></md-icon>
									<md-icon aria-label="{{'Done' | translate}}" class="icon-done"
											 md-svg-src="assets/icons/ic_done_24px.svg"></md-icon>
									{{member}}
								</md-button>
							</md-list-item>
						</md-list>
					</div>
					<div class="constitute-manager-card">
						<div class="constitute-manager-member">
							<h3 class="constitute-manager-member-title md-display-1">{{selectedMember}}</h3>
							<div class="constitute-manager-member-interaction">
								<div ng-if="!isMemberInSelectionProcess">
									<div>
										<md-input-container class="large-input">
											<label ng-show="isMode('setup')" translate>Choose a password</label>
											<label ng-show="isMode('tally')" translate>Enter your password</label>
											<input id="pwd1" ng-class="{'ea-password': !isPasswordVisible}" ng-keypress="pwd1_keypress($event)"
												   ng-disabled="isMemberInSelectionProcess" ng-model="password.value"
												   type="{{isPasswordVisible ? 'text' : 'password'}}">
										</md-input-container>
									</div>
									<div ng-show="isMode('setup')">
										<md-input-container class="large-input">
											<label translate>Confirm password</label>
											<input id="pwd2" ng-class="{'ea-password': !isPasswordVisible}" ng-keypress="pwd2_keypress($event)"
												   ng-model="confirmPassword.value" type="{{isPasswordVisible ? 'text' : 'password'}}">
										</md-input-container>
									</div>
									<div>
										<md-button aria-label="Settings" class="md-icon-button md-primary" ng-click="togglePasswordVisibility()">
											<md-icon md-svg-icon="assets/icons/ic_visibility_24px.svg"></md-icon>
										</md-button>
										<label class="small" ng-click="togglePasswordVisibility()" ng-show="isPasswordVisible">Hide password</label>
										<label class="small" ng-click="togglePasswordVisibility()" ng-hide="isPasswordVisible">Show password</label>
										<md-button class="md-primary md-raised align-right" ng-click="validatePassword()"
												   ng-disabled="password.value.length === 0 || isMemberInSelectionProcess || (isMode('setup') && confirmPassword.value.length === 0)">
											<span translate>Ok</span>
										</md-button>
									</div>
								</div>
								<div ng-if="isMemberInSelectionProcess">
									<p class="md-title text-center">
										<md-icon aria-label="{{'Validating password...' | translate}}" class="spin"
												 md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
										<span translate>Validating password...</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</md-dialog-content>
</md-dialog>
