// constitute-manager
// ----------------------------------------

@use 'variables';

.constitute-manager-close {
  padding: 1.0em;
  width: 16em;
  border-radius: 5px;
  background: variables.$toast-bg;
  font-size: 0.6em;
  position: absolute;
  color: variables.$toast-text;
  right: 1.0em;
}

.constitute-manager-close-question {
  font-size: 0.7em;

  .md-button {
    font-size: 0.7em;
    color: variables.$color-interactive;
    text-decoration: underline;
    margin: 0.000em;
    max-width: 3.571em;
  }
}

.constitute-manager-close:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid variables.$toast-bg;
  top: -0.500em;
  left: 2.500em;
}

.constitute-manager-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  md-icon {
    &.icon-error {
      color: variables.$dialog-constitute-error;
    }

    &.icon-valid {
      color: variables.$dialog-constitute-valid;
    }
  }

  label {
    &.small {
      font-size: 80%;
    }
  }

  ul {
    &.password-policy-list {
      list-style-type: none;
    }
  }

  .constitute-manager {
    flex: 1;
    display: flex;
    flex-direction: row;

    .constitute-manager-members {
      min-width: 20%;
      max-width: 50%;
      overflow-y: auto;

      md-list {
        padding: 1em 0 0;
      }

      .md-button {
        width: 100%;
        height: 3.429em;
        margin: 0 0 (variables.$layout-gutter-width * .5);
        padding: 0 (variables.$layout-gutter-width * .5);
        color: inherit;
        text-align: left;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        [dir="rtl"] & {
          text-align: right;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }

        // icons
        md-icon {
          width: 2.286em;
          height: 2.286em;
          margin-right: (variables.$layout-gutter-width * .5);
          padding: 0.286em;
          border-radius: 50%;

          [dir="rtl"] & {
            margin-right: 0;
            margin-left: (variables.$layout-gutter-width * .5);
          }
        }

        .icon-idle {
          color: variables.$dialog-constitute-idle;
        }

        .icon-current {
          background-color: variables.$dialog-constitute-current;
          color: variables.$dialog-constitute-current-contrast;
          display: none;
        }

        .icon-done {
          background-color: variables.$dialog-constitute-done;
          color: variables.$dialog-constitute-done-contrast;
          display: none;
        }

        &.is-current {
          background-color: variables.$dialog-constitute-bg-active;

          .icon-idle {
            display: none;
          }

          .icon-current {
            display: inline-block;
          }

          .icon-done {
            display: none;
          }
        }

        &.is-done {
          .icon-idle {
            display: none;
          }

          .icon-current {
            display: none;
          }

          .icon-done {
            display: inline-block;
          }
        }
      }
    }

    .constitute-manager-card {
      flex: 1;
      overflow-y: auto;
      padding: variables.$layout-gutter-width;
      background-color: variables.$dialog-constitute-bg-active;

      .constitute-manager-member {
        display: flex;
        flex-direction: column;
        height: 100%;

        .constitute-manager-member-title {
          text-align: center;
        }

        .constitute-manager-member-interaction {
          flex: 1;
          display: flex;
          justify-content: center;

          .md-button.align-right {
            float: right;
          }

          md-input-container {
            min-width: 11.625em;
            margin-bottom: 0;

            &.large-input {
              min-width: 36.625em;
            }

            input.ea-password {
              font-size: 160%;
            }
          }
        }
      }

      .card-icon {
        display: block;
        width: 7.5em;
        height: 4.5em;
      }
    }
  }
}
