/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
/* You can add global styles to this file, and also import other style files */

// Bootstrap and its default variables
@import 'styles/bootstrap-overrides.scss';
@import 'styles/bootstrap-import.scss';

@import 'styles/components';

ngb-datepicker {
  .ngb-dp-weekday {
    color: var(--bs-primary);
  }
}

.border-dashed {
  border-style: dashed !important;
}
