<!--
  ~ (c) Copyright 2022 Swiss Post Ltd.
  -->
<input
  #writeIn="ngModel"
  (ngModelChange)="setWriteIn(writeIn.value)"
  [attr.aria-label]="'listandcandidates.writein.label.screenreader' | translate: { position: position }"
  [maxlength]="writeInMaxLength"
  [ngModel]="initialWriteIn"
  [placeholder]="'listandcandidates.writein.placeholder' | translate"
  aria-labelledby="writeIn--invalid-characters writeIn--invalid-format"
  class="form-control"
  id="candidate--write-in"
  type="text"
  required
>

<ng-container *ngIf="showErrors">
  <div
      *ngIf="writeInControl.errors?.incorrectCharacters"
      class="alert alert-warning mt-3 d-flex align-items-center gap-2"
      id="writeIn--invalid-characters"
  >
    <p class="mb-0">{{ 'listandcandidates.writein.invalidcharacters' | translate }}</p>
    <button
        (click)="showWriteInsFAQ()"
        class="btn btn-link"
        type="button"
    >
      <swp-icon name="question-circle"></swp-icon>
      <span>{{ 'listandcandidates.writein.invalidcharacters.seevalidones' | translate }}</span>
    </button>
  </div>

  <div
      *ngIf="writeInControl.errors?.incorrectFormat"
      class="alert alert-warning mt-3 d-flex align-items-center gap-2"
      id="writeIn--invalid-format"
  >
    <p class="mb-0">{{ 'listandcandidates.writein.invalidformat' | translate }}</p>
    <button
        (click)="showWriteInsFAQ()"
        class="btn btn-link"
        type="button"
    >
      <swp-icon name="question-circle"></swp-icon>
      <span>{{ 'listandcandidates.instructions.howtousewriteins' | translate }}</span>
    </button>
  </div>
</ng-container>
