<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<swp-questions
    [contest]="contest"
    [rightColumnTemplate]="optionsTemplate"
></swp-questions>

<ng-template #optionsTemplate let-question="question" let-i="questionIndex">
  <div *ngIf="getQuestionFormGroup(i) as questionFormGroup" class="row">
    <div
        class="question--options col"
        [formGroup]="questionFormGroup"
        role="radiogroup"
        [attr.aria-labelledby]="'question-' + question.id"
    >
      <div class="form-check" *ngFor="let option of question.options">
        <input #test
            class="question--option form-check-input rounded-1"
            type="radio"
            formControlName="chosenOption"
            [value]="option.id"
            [id]="'option-' + option.id"
            [attr.name]="'answer-' + question.id"
        />
        <label
            class="form-check-label word-break ps-3 h5 fw-bold"
            [for]="'option-' + option.id"
        >{{ option.text }}</label
        >
      </div>
    </div>

    <div class="col text-lg-end">
      <button
          (click)="resetRadioButtons(i);"
          *ngIf="question.optionsMinChoices === 0"
          [disabled]="!getChosenOption(i)"
          aria-live="polite"
          class="btn btn-link"
          id="btn_clear_{{ question?.id }}"
          type="button"
      >
        <swp-icon name="x-lg"></swp-icon>
        <span aria-hidden="true">{{'common.clear' | translate}}</span>
        <span class="visually-hidden">{{ 'choose.options.clearcurrent' | translate }}</span>
      </button>
    </div>
  </div>
</ng-template>
