<tab-bar class="filter-status" filter-active="filterActive" filter-counter="statusCount" filter-tabs="filterTabs"
         on-tab-selected="onTabSelected"></tab-bar>

<div class="datatable-controls">
  <div class="datatable-actions">
    <div class="datatable-actions-main">
      <md-button aria-label="{{'Precompute' | translate}}"
                 class="md-primary md-raised"
                 id="precompute"
                 ng-attr-title="{{getSelectVCSText()}}"
                 ng-click="precomputeVotingCardSets()"
                 ng-disabled="isThereNoVCSSelected()"
                 ng-if="vcPrecomputationEnabled() && tableFilter === 'LOCKED'">
        <md-icon aria-label="{{'Precompute' | translate}}" md-svg-src="assets/icons/ic_menu_24px.svg"></md-icon>
        <span class="hide-xs" translate>Precompute</span>
      </md-button>
      <md-button aria-label="{{'Compute' | translate}}"
                 class="md-primary md-raised"
                 id="compute" ng-attr-title="{{getSelectVCSText()}}"
                 ng-click="computeVotingCardSet()"
                 ng-disabled="isThereNoVCSSelected()"
                 ng-if="vcComputationEnabled() && tableFilter === 'PRECOMPUTED'">
        <md-icon aria-label="{{'Compute' | translate}}" md-svg-src="assets/icons/ic_list_24px.svg"></md-icon>
        <span class="hide-xs" translate>Compute</span>
      </md-button>
      <md-button aria-label="{{'Download' | translate}}"
                 class="md-primary md-raised"
                 id="download"
                 ng-attr-title="{{getSelectVCSText()}}"
                 ng-click="downloadVotingCardSet()"
                 ng-disabled="isThereNoVCSSelected()"
                 ng-if="vcDownloadEnabled() && tableFilter === 'COMPUTED'">
        <md-icon aria-label="{{'Download' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
        <span class="hide-xs" translate>Download</span>
      </md-button>
      <md-button aria-label="{{'Generate' | translate}}"
                 class="md-primary md-raised"
                 id="generate"
                 ng-attr-title="{{getSelectVCSText()}}"
                 ng-click="generateVotingCardSet()"
                 ng-disabled="isThereNoVCSSelected()"
                 ng-if="tableFilter === 'VCS_DOWNLOADED'">
        <md-icon aria-label="{{'Generate' | translate}}" md-svg-src="assets/icons/ic_wrap_text_24px.svg"></md-icon>
        <span class="hide-xs" translate>Generate</span>
      </md-button>
      <md-button aria-label="{{'Update generating status' | translate}}"
                 class="md-primary md-raised"
                 id="updateGeneratingStatus"
                 ng-click="updateGeneratingStatus()"
                 ng-disabled="isThereNoVCSGenerating()"
                 ng-if="tableFilter === 'GENERATING'">
        <md-icon aria-label="{{'Update generating status' | translate}}" md-svg-src="assets/icons/ic_autorenew_24px.svg"></md-icon>
        <span class="hide-xs" translate>Update generating status</span>
      </md-button>
      <md-button aria-label="{{'Sign' | translate}}"
                 class="md-primary md-raised"
                 id="sign"
                 ng-attr-title="{{getSelectVCSText()}}"
                 ng-click="sign()"
                 ng-disabled="isThereNoVCSSelected()"
                 ng-if="tableFilter === 'GENERATED'">
        <md-icon aria-label="{{'Sign' | translate}}" md-svg-src="assets/icons/ic_vpn_key_24px.svg"></md-icon>
        <span class="hide-xs" translate>Sign</span>
      </md-button>
      <md-button aria-label="{{'Print file generation' || translate}}"
                 class="md-primary md-raised"
                 id="generate_print_files"
                 ng-attr-title="{{getTextPrintFilesGeneration()}}"
                 ng-click="generatePrintFiles()"
                 ng-disabled="!areAllVotingCardsReadyForPrintFilesGeneration()"
                 ng-if="tableFilter === 'SIGNED'">
        <md-icon aria-label="{{'Print file generation' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
        <span class="hide-xs" translate>Print file generation</span>
      </md-button>
    </div>
  </div>
</div>

<div class="datatable-data">
  <table aria-describedby="" class="table">
    <thead>
    <tr>
      <td class="table-batchselector">
        <md-checkbox aria-label="{{'Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="selectAll"
                     ng-change="onSelectAll(selectAll)" ng-disabled="filteredRows.length === 0"
                     ng-hide="tableFilter === 'GENERATING' || tableFilter === 'SIGNED'"></md-checkbox>
      </td>
      <th class="grow-2" scope="col">
        <span class="no-wrap" title="{{'Title'|translate}}" translate>Title</span>
      </th>
      <th scope="col">
        <span class="no-wrap" title="{{'Alias'|translate}}" translate>Alias</span>
      </th>
      <th scope="col">
        <span class="no-wrap" title="{{'Ballot Box'|translate}}" translate>Ballot Box</span>
      </th>
      <th scope="col">
        <span class="no-wrap" title="{{'Ballot'|translate}}" translate>Ballot</span>
      </th>
      <th scope="col">
        <span class="no-wrap" title="{{'Next step'|translate}}" translate>Next step</span>
      </th>
      <th class="grow-2" scope="col">
        <span class="no-wrap" title="{{'Details'|translate}}" translate>Details</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="votingCardSet in data.votingCardSets.result | filter:customFilter:true as filteredRows">
      <td class="table-batchselector">
        <md-checkbox aria-label="{{'Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="votingCardSet.selected"
                     id="check_{{votingCardSet.id}}" ng-change="updateSelectAll(votingCardSet.selected)"
                     ng-hide="tableFilter === 'GENERATING' || tableFilter === 'SIGNED'"></md-checkbox>
      </td>
      <td class="grow-2">{{votingCardSet.defaultTitle}}</td>
      <td>{{votingCardSet.alias}}</td>
      <td>{{votingCardSet.ballotBoxAlias}}</td>
      <td>{{votingCardSet.ballotAlias}}</td>
      <td>
        <span ng-if="votingCardSet.status=='LOCKED'" translate>To pre-compute</span>
        <span ng-if="votingCardSet.status=='PRECOMPUTED'" translate>To compute</span>
        <span ng-if="votingCardSet.status=='COMPUTING'" translate>Computing</span>
        <span ng-if="votingCardSet.status=='COMPUTED'" translate>To download</span>
        <span ng-if="votingCardSet.status=='VCS_DOWNLOADED'" translate>To generate</span>
        <span ng-if="votingCardSet.status=='GENERATING'" translate>To update</span>
        <span ng-if="votingCardSet.status=='GENERATED'" translate>To sign</span>
        <span ng-if="votingCardSet.status=='SIGNED'" translate>Done</span>
      </td>
      <td class="grow-2">
        <div>
          <span class="no-wrap" title="{{votingCardSet.details | translate}}">{{votingCardSet.details | translate}}</span>
        </div>
        <div data-ng-if="votingCardSet.processing">
          <em class="fss no-wrap" data-ng-if="votingCardSet.status=='LOCKED'" title="{{'Pre-computing...' | translate}}"
              translate>Pre-computing...</em>
          <em class="fss no-wrap" data-ng-if="votingCardSet.status=='PRECOMPUTED'" title="{{'Computing...' | translate}}" translate>Computing...</em>
          <em class="fss no-wrap" data-ng-if="votingCardSet.status=='COMPUTED'" title="{{'Downloading...' | translate}}" translate>Downloading...</em>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
