<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ul
    *ngIf="candidateSelection.length"
    class="candidates list-unstyled"
>
  <li
      *ngFor="let candidate of candidateSelection; index as i"
      class="candidates--container card card-body mb-2"
      [ngClass]="{
        'border': !contestUserData,
        'border-dashed': contestUserData && !candidate,
        'text-bg-light': contestUserData && candidate
      }"
  >
    <div class="candidate row gap-3 gap-md-0">
      <div class="col-md-9">
        <ng-container
            *ngIf="candidate?.isWriteIn && getWriteInControl(i) as writeInControl; else candidateDetails"
        >
          <swp-candidate-write-in
              [writeInControl]="writeInControl"
              [position]="i + 1"
              [showErrors]="showErrors"
          ></swp-candidate-write-in>
        </ng-container>

        <ng-template #candidateDetails>
          <swp-candidate-details
              [candidatePlaceholder]="getCandidatePlaceholder(i)"
              [candidateWriteIn]="getWriteInValue(i)"
              [candidate]="candidate"
              [headingDisplayLevel]="5"
              [screenReaderLabel]="getScreenReaderLabel(i)"
              [showAllDetails]="showCandidateDetails"
          ></swp-candidate-details>
        </ng-template>
      </div>

      <div class="col">
        <ng-container
            [ngTemplateOutletContext]="{ candidate: candidate, candidateIndex: i }"
            [ngTemplateOutlet]="$any(rightColumnTemplate)"
        ></ng-container>
      </div>
    </div>
  </li>
</ul>
