<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div class="card card-body rounded-0 border-bottom border-top-0 border-start-0 border-end-0 mb-3">
  <div class="list row gap-3 gap-md-0">
    <div class="col-md-9">
      <swp-list-details
          [list]="list"
          [listPlaceholder]="listPlaceholder"
          [headingDisplayLevel]="4"
          [screenReaderLabel]="screenReaderLabel"
          [showAllDetails]="true"
      ></swp-list-details>
    </div>

    <div class="col">
      <ng-container
          [ngTemplateOutlet]="$any(rightColumnTemplate)"
          [ngTemplateOutletContext]="getTemplateContext()"
      ></ng-container>
    </div>
  </div>
</div>
