<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<!-- Full birthdate authentication -->
<div class="mt-5" *ngIf="identification === Identification.DATE_OF_BIRTH">
  <label class="form-label h4" for="dateOfBirth">
    {{ 'startvoting.dob' | translate }}
  </label>
  <div class="input-group input-group-lg">
    <swp-clearable-input buttonLabel="startvoting.dob.clear">
      <input
          #d="ngbDatepicker"
          (dateSelect)="setDateOfBirth($event)"
          [class.is-invalid]="showErrors && dobOrYob.invalid"
          [formControl]="dobOrYob"
          [inputMask]="dateOfBirthMask"
          [placeholder]="'datepicker.placeholder' | translate"
          aria-describedby="dateOfBirth-required"
          class="form-control form-control-lg form-control-monospace"
          id="dateOfBirth"
          inputmode="numeric"
          ngbDatepicker
          required
      >
    </swp-clearable-input>
    <button class="btn btn-outline-dark" (click)="d.toggle()" type="button">
      <swp-icon name="calendar"></swp-icon>
      <span class="visually-hidden">{{'datepicker.open' | translate}}</span>
    </button>
  </div>

  <p
      id="dateOfBirth-required"
      class="alert alert-warning mt-3"
      *ngIf="showErrors && dobOrYob?.invalid"
  >
    {{ 'startvoting.validation.dob.required' | translate }}
  </p>
</div>

<!-- Year of birth authentification -->
<div class="mt-5" *ngIf="identification === Identification.YEAR_OF_BIRTH">
  <label for="yearOfBirth" class="form-label h4">
    {{ 'startvoting.yob' | translate }}
  </label>

  <swp-clearable-input buttonLabel="startvoting.yob.clear">
    <input
        [class.is-invalid]="showErrors && dobOrYob?.invalid"
        [formControl]="dobOrYob"
        [inputMask]="yearOfBirthMask"
        aria-describedby="yearOfBirth-required"
        class="form-control form-control-lg form-control-monospace"
        id="yearOfBirth"
        inputmode="numeric"
        placeholder="____"
        required
        type="text"
    />
  </swp-clearable-input>

  <p
      id="yearOfBirth-required"
      class="alert alert-warning mt-3"
      *ngIf="showErrors && dobOrYob?.invalid"
  >
    {{ 'startvoting.validation.yob.required' | translate }}
  </p>
</div>
