<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ul class="questions list-group list-group-flush my-n3">
  <li
      *ngFor="let question of questions; index as i; first as isFirst"
      class="question--container list-group-item bg-transparent py-4"
  >
    <div class="question row gap-3 gap-md-0">
      <div class="col-md-9" [id]="'question-' + question.id">
        <p
            [attr.aria-level]="headingLevel"
            [innerHTML]="question.text | markdown"
            class="fs-5 question--title"
            role="heading"
        ></p>

        <ng-container
            [ngTemplateOutlet]="$any(leftColumnTemplate)"
            [ngTemplateOutletContext]="getTemplateContext(question, i)"
        ></ng-container>
      </div>

      <div class="col">
        <ng-container
            [ngTemplateOutlet]="$any(rightColumnTemplate)"
            [ngTemplateOutletContext]="getTemplateContext(question, i)"
        ></ng-container>
      </div>
    </div>
  </li>
</ul>
