<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div class="modal-header">
  <h1 class="h4 modal-title">{{ 'candidateselection.title' | translate }}</h1>
  <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'common.close' | translate"
      (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <form aria-controls="resultCount" (submit)="searchTerm.setValue(searchTermInput.value)">
    <h2 class="no-styling">
      <label class="form-label" for="candidate-search--term">
        {{ 'candidateselection.namefilter.label' | translate }}
      </label>
    </h2>

    <div class="input-group mb-3">
      <swp-clearable-input buttonLabel="candidateselection.namefilter.clear">
        <input
            class="form-control"
            id="candidate-search--term"
            type="text"
            ngModel
            [ngModelOptions]="{ standalone: true }"
            #searchTermInput="ngModel"
        >
      </swp-clearable-input>
      <button id="candidate-search--submit" class="btn btn-outline-dark" type="submit">
        <swp-icon name="search"></swp-icon>
        <span class="d-none d-sm-inline">{{ 'candidateselection.namefilter.search' | translate }}</span>
        <span class="d-sm-none visually-hidden">{{ 'candidateselection.namefilter.search' | translate }}</span>
      </button>
    </div>

    <ng-container [formGroup]="filters">
      <div *ngIf="contest.hasListQuestion" class="mb-3">
        <h2 class="no-styling">
          <label class="form-label" for="candidate-filter--list">
            {{ 'candidateselection.listfilter.label' | translate }}
          </label>
        </h2>

        <select id="candidate-filter--list" class="form-select" formControlName="listId">
          <option [ngValue]="null">{{ 'candidateselection.listfilter.alllists' | translate }}</option>
          <option *ngFor="let list of contest.realLists" [ngValue]="list.id">{{ list.details?.listType_attribute1 }}</option>
        </select>
      </div>

      <div *ngIf="contest.candidatesQuestion && contest.candidatesQuestion.cumul > 1" class="form-check form-switch mb-3">
        <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="candidate-filter--selected"
            formControlName="selectedCandidatesOnly"
        >
        <h2 class="no-styling">
          <label
              class="form-check-label"
              for="candidate-filter--selected"
          >{{ 'candidateselection.selectedonlyfilter' | translate }}</label>
        </h2>
      </div>
    </ng-container>
  </form>

  <p
      [class.visually-hidden]="contest.candidatesQuestion?.hasWriteIns"
      aria-live="polite"
      class="small fst-italic mb-0"
      id="resultCount"
  >
    <!-- no search -->
    <ng-container *ngIf="!searchTerm.value && candidates.length === 1">
      {{ 'candidateselection.searchresults.nosearch.singular' | translate : searchResultsArgs }}
    </ng-container>
    <ng-container *ngIf="!searchTerm.value && candidates.length > 1">
      {{ 'candidateselection.searchresults.nosearch.plural' | translate : searchResultsArgs }}
    </ng-container>

    <!-- search and results -->
    <ng-container *ngIf="searchTerm.value && filteredCandidates.length === 1">
      {{ 'candidateselection.searchresults.numberofresults.singular' | translate : searchResultsArgs }}
    </ng-container>
    <ng-container *ngIf="searchTerm.value && filteredCandidates.length > 1">
      {{ 'candidateselection.searchresults.numberofresults.plural' | translate : searchResultsArgs }}
    </ng-container>

    <!-- search but no results -->
    <ng-container *ngIf="searchTerm.value && !filteredCandidates.length">
      {{ 'candidateselection.searchresults.noresults' | translate }}
    </ng-container>
  </p>

  <h2 class="visually-hidden">
    <ng-container *ngIf="searchTerm.value; else noSearchTitle">
      {{ 'candidateselection.searchresults.title' | translate }}
    </ng-container>
    <ng-template #noSearchTitle>
      {{ 'candidateselection.searchresults.title.nosearch' | translate }}
    </ng-template>
  </h2>

  <ul class="list-group list-group-flush mt-3">
    <li class="list-group-item" *ngFor="let candidate of filteredCandidates">
      <swp-candidate-selector
          [candidate]="candidate"
          [electionContest]="contest"
          [candidateIndex]="candidateIndex"
          [contestUserData]="contestUserData"
      ></swp-candidate-selector>
    </li>
  </ul>

  <div
      *ngIf="contest.candidatesQuestion?.hasWriteIns && contest.writeInCandidates[candidateIndex] as writeInCandidate"
      class="list-group list-group-flush border-top border-2 mt-3 pt-3"
  >
    <div class="list-group-item">
      <swp-candidate-selector
          [candidate]="writeInCandidate"
          [electionContest]="contest"
          [candidateIndex]="candidateIndex"
          [contestUserData]="contestUserData"
      ></swp-candidate-selector>
    </div>
  </div>
</div>