<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2 class="flex">{{showMembersDialogTitle}}</h2>
			<md-button aria-label="{{'Close dialog'|translate}}" class="md-icon-button" ng-click="closeDialog()">
				<md-icon md-svg-src="assets/icons/ic_close_24px.svg"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="md-dialog-content" role="document" tabindex="-1">
		<div class="md-dialog-content-body">
			<md-list>
				<md-list-item ng-repeat="member in listOfMembers track by $index">
					<md-icon aria-label="{{'Admin Board member' | translate}}" md-svg-src="assets/icons/ic_person_24px.svg"></md-icon>
					<span flex>{{member}}</span>
				</md-list-item>
			</md-list>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary md-raised" ng-click="closeDialog()" type="button"><span translate>Close</span></md-button>
	</md-dialog-actions>
</md-dialog>
