<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<nav class="navbar navbar-expand navbar-light bg-accent">
  <div class="container align-items-stretch gap-3">
    <div aria-hidden="true" class="navbar-brand flex-fill">&nbsp;</div>
    <div class="navbar-nav">
      <button
          (click)="showFAQ()"
          class="btn nav-link navbar__button"
          id="mainHelpButton"
          type="button"
      >
        <swp-icon name="question-circle"></swp-icon>
        <span>{{ 'common.help' | translate }}</span>
      </button>
    </div>

    <ul
        *ngIf="currentLang$ | async as currentLang"
        class="navbar-nav language-selector"
        [attr.aria-label]="'common.appLanguage' | translate"
    >
      <li *ngFor="let lang of availableLanguages" class="nav-item">
        <button
            (click)="translateApp(lang.id)"
            [class.active]="lang.id === currentLang"
            [tabIndex]="lang.id === currentLang ? -1 : 0"
            [attr.aria-current]="lang.id === currentLang ? true : undefined"
            class="btn nav-link navbar__button"
            type="button"
        >
          <span class="d-none d-sm-inline">{{ lang.label }}</span>
          <span class="d-sm-none">{{ lang.id | uppercase }}</span>
        </button>
      </li>
    </ul>
  </div>
</nav>
