/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
@use "sass:map";
@use "styles/bootstrap-overrides" as app;
@use "styles/mixins/outline";

.navbar-brand {
  background-image: url("/vote/assets/img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.nav-link {
  --bs-nav-link-hover-color: #{app.$dark};
  --bs-nav-link-hover-bg: #{rgba(app.$dark, 0.15)};
  --bs-nav-link-hover-border-color: transparent;
  --bs-nav-link-active-color: #{app.$white};
  --bs-nav-link-active-bg: #{app.$dark};
  --bs-nav-link-active-border-color: #{app.$dark};

  &:hover {
    color: var(--bs-nav-link-hover-color);
    background-color: var(--bs-nav-link-hover-bg);
    border-color: var(--bs-nav-link-hover-border-color);
  }

  &.active,
  &.active:focus {
    color: var(--bs-nav-link-active-color);
    background-color: var(--bs-nav-link-active-bg);
    border-color: var(--bs-nav-link-active-border-color);
    pointer-events: none;
  }
}

.nav-item {
  &:hover {
    z-index: 1;
  }
}

.navbar__button {
  border-radius: 0;

  &:focus-visible {
    @include outline.inner;
  }
}

@media (forced-colors: active) {
  .navbar {
    border: app.$border-width solid ButtonText;
  }

  .nav-link {
    --bs-nav-link-hover-color: var(--bs-btn-hover-color);
    --bs-nav-link-active-color: HighlightText;
    --bs-nav-link-active-bg: Highlight;
    --bs-nav-link-active-border-color: Highlight;

    margin: -1px -1px -1px 0;
  }
}
