<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ng-container
    *ngIf="{
    error: error$ | async,
    loading: isLoading$ | async
  } as errorStream"
>
  <div class="container">
    <div
        *ngIf="errorStream.error && !errorStream.loading"
        class="alert alert-danger"
        role="alert"
    >
      <swp-backenderror id="backend_error" [error]="errorStream.error"></swp-backenderror>
    </div>

    <h1 class="mt-5">{{ 'review.main.reviewandseal' | translate }}</h1>
    <p class="mt-3">
      {{ 'review.main.review' | translate }}
    </p>

    <div
        class="ballot-group my-5"
        *ngFor="let contestAndValues of contestsAndValues$ | async"
    >
      <swp-review-contest-container
          [contestAndValues]="contestAndValues"
      ></swp-review-contest-container>
    </div>

    <div
        class="alert alert-primary d-flex align-items-center gap-3"
        id="review-main-warning-aftersealingnochange"
    >
      <swp-icon name="info-circle-fill"></swp-icon>
      <div>
        <p *swpParagraphs="'review.main.warning.aftersealingnochange'; paragraphKey as warningParagraph">
          {{ warningParagraph | translate }}
        </p>
      </div>
    </div>

    <div class="footer-nav my-5 d-flex flex-column flex-sm-row gap-3">
      <button
          id="btn_seal_vote"
          type="button"
          class="btn btn-dark btn-lg order-3"
          aria-describedby="review-main-warning-aftersealingnochange"
          (click)="confirmSeal()"
          [disabled]="isLoading$ | async"
      >
        {{ 'review.main.sealballot' | translate }}
      </button>

      <button
          type="button"
          id="btn_back_to_choose"
          class="btn btn-link btn-lg order-1 me-auto"
          routerLink="/choose"
      >
        <swp-icon name="pencil-fill"></swp-icon>
        <span>{{ 'review.main.changechoices' | translate }}</span>
      </button>

      <button
          id="btn_cancel"
          type="button"
          class="btn btn-link btn-lg order-2"
          (click)="confirmCancel()"
      >
        <swp-icon name="x-lg"></swp-icon>
        <span>{{ 'common.cancelprocess' | translate }}</span>
      </button>
    </div>
  </div>
</ng-container>
