<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ng-container>
  <p>
    <ng-container *ngIf="electionContest.candidatesQuestion?.hasWriteIns; else noWriteIns">
      <span>{{ 'listandcandidates.instructions.writeins.supported' | translate }}</span>
      <br/>
      <button
          (click)="showWriteInsFAQ()"
          class="btn btn-link aligned-with-text"
          type="button"
      >
        <swp-icon name="question-circle"></swp-icon>
        <span>{{ 'listandcandidates.instructions.howtousewriteins' | translate }}</span>
      </button>
    </ng-container>

    <ng-template #noWriteIns>
      <ng-container *ngIf="cumulationAllowed; else noCumulationInstruction">
        {{ 'listandcandidates.instructions.cumulation.supported' | translate }}
      </ng-container>

      <ng-template #noCumulationInstruction>
        {{ 'listandcandidates.instructions.cumulation.notsupported' | translate }}
      </ng-template>
    </ng-template>

    <span class="visually-hidden">
      {{ 'listandcandidates.instructions.listofpartiesandcandidates' | translate }}
    </span>

    <span *ngIf="!electionContest.allowFullBlank" class="visually-hidden">
      {{ 'listandcandidates.instructions.mandatorytochooseanoption' | translate }}
    </span>
  </p>

  <swp-choose-list
      *ngIf="electionContest.hasListQuestion"
      [contestFormGroup]="contestFormGroup"
      [electionContest]="electionContest"
  ></swp-choose-list>

  <swp-candidates
      [contestFormGroup]="contestFormGroup"
      [electionContest]="electionContest"
      [rightColumnTemplate]="candidateActions"
      [showCandidateDetails]="true"
      [showErrors]="showErrors"
  >
    <ng-template #candidateActions let-candidate="candidate" let-candidateIndex="candidateIndex">
      <div class="d-flex flex-column align-items-end gap-2">
        <button
            (click)="openCandidateSelectionModal(candidateIndex)"
            class="btn btn-outline-dark w-100"
            type="button"
        >
          <ng-container *ngIf="candidate; else chooseCandidate">
            {{ 'listandcandidates.change' | translate }}
            <span class="visually-hidden">
              {{ 'listandcandidates.currentcandidateis' | translate }}
              {{ candidate?.details?.candidateType_attribute1 }}
            </span>
          </ng-container>

          <ng-template #chooseCandidate>
            <span aria-hidden="true">{{ 'listandcandidates.choose' | translate }}</span>
            <span class="visually-hidden">{{ 'listandcandidates.choosecandidate.screenreader' | translate }}</span>
          </ng-template>
        </button>

        <div *ngIf="candidate" class="d-flex align-items-center justify-content-between gap-2">
          <button
              (click)="cumulateCandidate(candidate)"
              *ngIf="getCandidateMaxCumul(candidate) > 1"
              [disabled]="!unoccupiedSeat || !candidateCanCumulate(candidate)"
              class="btn btn-link"
              type="button"
          >
            <swp-icon name="plus-lg"></swp-icon>
            {{ 'listandcandidates.cumulate' | translate }}
            <span class="visually-hidden">
              {{ 'listandcandidates.currentcandidateis' | translate }}
              {{ candidate?.details?.candidateType_attribute1 }}
            </span>
          </button>

          <button
              (click)="clearCandidate(candidateIndex)"
              *ngIf="candidate"
              class="btn btn-link"
              type="button"
          >
            <swp-icon name="x-lg"></swp-icon>
            {{ 'listandcandidates.clear' | translate }}
            <span class="visually-hidden">
              {{ 'listandcandidates.currentcandidateis' | translate }}
              {{ candidate?.details?.candidateType_attribute1 }}
            </span>
          </button>
        </div>
      </div>
    </ng-template>
  </swp-candidates>
</ng-container>
