<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<swp-contest-accordion
    *ngIf="contestAndValues"
    [id]="'contest-review-panel-' + contestAndValues.contest.id"
    [title]="contestAndValues.contest.title"
>
  <div
      class="contest-wrapper"
      id="contest-wrapper-{{ contestAndValues.contest.id }}"
  >
    <div class="contest">
      <swp-review-question-list
          *ngIf="contestAndValues.contest.template === TemplateType.OPTIONS"
          [contestAndValues]="contestAndValues"
      ></swp-review-question-list>

      <swp-review-candidate-list
          *ngIf="
          contestAndValues.contest.template ===
          TemplateType.LISTS_AND_CANDIDATES
        "
          [contestAndValues]="contestAndValues"
      >
      </swp-review-candidate-list>
    </div>
  </div>
</swp-contest-accordion>
