<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ng-content select=".form-control"></ng-content>

<button
  #t="ngbTooltip"
  [hidden]="!isButtonShown"
  type="button"
  class="btn btn-clear"
  container="body"
  [ngbTooltip]="buttonLabel | translate"
  (click)="t.close(false); clearInput();">
  <swp-icon name="x-lg"></swp-icon>
  <span class="visually-hidden">{{ buttonLabel | translate }}</span>
</button>
