<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ng-container
    *ngIf="{
    error: error$ | async,
    loading: isLoading$ | async
  } as errorStream"
>
  <div class="container">
    <div
        *ngIf="errorStream.error && !errorStream.loading && !errorStream.error.badKey"
        class="alert alert-danger"
        role="alert"
    >
      <swp-backenderror id="backend_error" [error]="errorStream.error"></swp-backenderror>
    </div>

    <p
        id="warningSentButNotCast"
        *ngIf="sentButNotCast$ | async"
        class="alert alert-warning d-flex align-items-center gap-3"
        role="alert"
    >
      {{ 'verify.warning.abandonedprocess' | translate }}
    </p>

    <h1 class="mt-5">{{ 'verify.main.verifyandcast' | translate }}</h1>
    <p class="mt-3">
      {{
        'verify.main.seegeneratedchoices' | translate: placeholders.currentValue
      }}
    </p>

    <div class="card my-5">
      <div class="card-header">
        <h2 class="card-title gap-3 h4">
          <swp-icon class="voting-card-symbol" name="voting-card-diamond"></swp-icon>
          <span>{{ 'verify.main.choicecodes' | translate }}</span>
        </h2>
        <button
            (click)="showFAQ(FAQSection.WhatAreChoiceCodes)"
            class="btn btn-link"
            id="show-faq-choice-codes-link"
            type="button"
        >
          <swp-icon name="question-circle"></swp-icon>
          <span>{{ 'verify.main.choicecodes.help' | translate }}</span>
        </button>
      </div>
      <div
          *ngIf="sendVoteResponseAndContests$ | async as data"
          class="card-body"
      >
        <div
            *ngFor="let contestVerifyData of data; first as isFirst"
            [class.mt-5]="!isFirst"
            class="ballot-group"
        >
          <swp-verify-contest-container
              [contestVerifyData]="contestVerifyData"
          ></swp-verify-contest-container>
        </div>
      </div>
    </div>

    <form
        novalidate
        autocomplete="off"
        [formGroup]="ballotCastingKeyForm"
        #keyForm="ngForm"
        (ngSubmit)="cast()"
    >
      <p>
        <span>{{
            'verify.main.docodesmatch' | translate: placeholders.currentValue
          }}</span>

        <br/>

        <button
            (click)="showFAQ(FAQSection.WhatIfCodesDoNotMatch)"
            class="btn btn-link aligned-with-text"
            id="show-faq-codes-do-not-match-link"
            type="button"
        >
          <swp-icon name="question-circle"></swp-icon>
          <span>{{ 'verify.help.codesdonotmatch' | translate }}</span>
        </button>
      </p>

      <div class="card my-5">
        <div class="card-header">
          <h2 class="card-title h4">
            <label for="bck" class="d-flex align-items-center gap-3">
              <swp-icon class="voting-card-symbol" name="voting-card-pentagon"></swp-icon>
              <span>{{ 'verify.bck.label' | translate }}</span>
            </label>
          </h2>

          <button
              (click)="showFAQ(FAQSection.WhatIsBallotCastingKey)"
              class="btn btn-link"
              id="show-faq-whatis-bck-link"
              type="button"
          >
            <swp-icon name="question-circle"></swp-icon>
            <span>{{ 'verify.bck.help' | translate }}</span>
          </button>
        </div>

        <div class="card-body">
          <swp-clearable-input buttonLabel="verify.bck.clear">
            <input
                #bckInput
                [class.is-invalid]="bck?.invalid && keyForm.submitted"
                [inputMask]="bckMask"
                aria-describedby="bck-required"
                class="form-control form-control-lg form-control-monospace"
                formControlName="ballotCastingKey"
                id="bck"
                inputmode="numeric"
                placeholder="____ ____ _"
                required
                type="text"
            />
          </swp-clearable-input>

          <p
              id="bck-required"
              class="alert alert-warning mt-3"
              *ngIf="bck?.invalid && keyForm.submitted"
          >
            {{ 'verify.bck.required' | translate: placeholders.currentValue }}
          </p>

          <ng-container
              *ngIf="
              errorStream.error &&
              !errorStream.loading &&
              $any(errorStream.error).badKey === true
            "
          >
            <div id="svk-invalid" class="alert alert-danger mt-3">
              <swp-backenderror id="backend_error_key_related" [error]="errorStream.error"></swp-backenderror>
            </div>
          </ng-container>
        </div>
      </div>

      <p
          class="alert alert-primary d-flex align-items-center gap-3"
          id="verify-main-warning-voteiscast"
      >
        <swp-icon name="info-circle-fill"></swp-icon>
        <span>{{ 'verify.main.warning.voteiscast' | translate }}</span>
      </p>

      <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-3">
        <button
            id="btn_confirm_vote"
            type="submit"
            class="btn btn-dark btn-lg"
            aria-describedby="verify-main-warning-voteiscast"
            [disabled]="isLoading$ | async"
        >
          {{ 'verify.main.castvote' | translate }}
        </button>

        <button
            id="btn_cancel"
            type="button"
            class="btn btn-link btn-lg"
            (click)="confirmCancel()"
        >
          <swp-icon name="box-arrow-right"></swp-icon>
          <span>{{ 'verify.leaveprocess' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</ng-container>
