<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<swp-questions
    [contest]="contestAndValues?.contest"
    [contestUserData]="contestAndValues?.contestUserData"
    [rightColumnTemplate]="answerTemplate"
></swp-questions>

<ng-template #answerTemplate let-question="question" let-answer="answer">
  <ng-container *ngIf="answer">
    <p class="word-break ps-3 h4 mb-0">{{ answer }}</p>
    <span
        class="visually-hidden"
        *ngIf="answer === question.blankOption.text"
    >{{ 'common.screenreader.nooptionselected' | translate }}</span
    >
  </ng-container>
</ng-template>
