<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div class="container">
  <h1 class="mt-5">{{ 'legalterms.title' | translate }}</h1>

  <p class="mt-4" [innerHTML]="'legalterms.legalwarning' | translate"></p>

  <ul class="mt-3">
    <li>{{ 'legalterms.law.falseidentity' | translate }}</li>
    <li>{{ 'legalterms.law.votemorethanonce' | translate }}</li>
    <li>{{ 'legalterms.law.misuseballots' | translate }}</li>
    <li>{{ 'legalterms.law.manipulateballots' | translate }}</li>
  </ul>

  <p class="mt-3">{{ 'legalterms.confirmquestion' | translate }}</p>

  <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-3">
    <button
        type="button"
        class="btn btn-dark btn-lg"
        (click)="agree()"
    >{{ 'legalterms.agree' | translate }}</button
    >
  </div>
</div>
