/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
.card {
  background-color: #dfdfeb;
}

.card-body {
  background-color: #ebebf2;
}

.validation-error {
  position: fixed;
  top: 3em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}
