<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div class="container">

  <ngb-alert
      *ngIf="ballotFormGroup?.invalid && chooseForm.submitted"
      [dismissible]="true"
      class="validation-error"
  >
    <p>{{ 'choose.main.valiation.top' | translate }}</p>
  </ngb-alert>

  <h1 class="mt-5">{{ 'choose.main.title' | translate }}</h1>
  <p class="mt-3">
    {{ 'choose.main.expandcontesthelp' | translate }}
  </p>

  <form
      class="mt-5"
      novalidate
      autocomplete="off"
      (ngSubmit)="review()"
      [formGroup]="ballotFormGroup"
      #chooseForm="ngForm"
  >
    <div
        class="ballot-group my-5"
        *ngFor="let contest of contests$ | async; index as i"
    >
      <swp-choose-contest-container
          [contest]="contest"
          [contestFormGroup]="getContestFormGroup(i)"
          [formSubmitted]="chooseForm.submitted"
      ></swp-choose-contest-container>
    </div>

    <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-3">
      <button type="submit" class="btn btn-dark btn-lg">
        {{ 'choose.main.continuetoreview' | translate }}
      </button>

      <button
          type="button"
          class="btn btn-link btn-lg"
          (click)="confirmCancel()"
      >
        <swp-icon name="x-lg"></swp-icon>
        <span>{{ 'common.cancelprocess' | translate }}</span>
      </button>
    </div>
  </form>
</div>
