<tab-bar class="filter-status" filter-active="filterActive" filter-counter="statusCount" filter-tabs="filterTabs"
		 on-tab-selected="onTabSelected"></tab-bar>

<div class="datatable-controls">

	<div class="datatable-actions">
		<div class="datatable-actions-main">
			<md-button aria-label="{{'Sign' | translate}}"
					   class="md-primary md-raised"
					   id="sign"
					   ng-attr-title="{{getTextByBallotBoxSelected()}}"
					   ng-click="sign()"
					   ng-disabled="isThereNoBallotBoxSelected()"
					   ng-if="tableFilter === 'READY'">
				<md-icon aria-label="{{'Sign' | translate}}" md-svg-src="assets/icons/ic_vpn_key_24px.svg"></md-icon>
				<span class="hide-xs" translate>Sign</span>
			</md-button>
			<md-button aria-label="{{'Mix' | translate}}"
					   class="md-primary md-raised"
					   id="Mix"
					   ng-attr-title="{{getTextByBallotBoxSelected()}}"
					   ng-click="confirmMixing($event)"
					   ng-disabled="isThereNoBallotBoxSelected() || mixingOnGoing"
					   ng-if="tableFilter === 'SIGNED'">
				<md-icon aria-label="{{'Mix' | translate}}" md-svg-src="assets/icons/ic_shuffle_24px.svg"></md-icon>
				<span class="hide-xs" translate>Mix</span>
			</md-button>
			<md-button aria-label="{{'Update mixing status' | translate}}"
					   class="md-primary md-raised"
					   id="UpdateMixingStatus"
					   ng-attr-title="{{getTextByBallotBoxSelected()}}"
					   ng-click="updateMixingStatuses($event)"
					   ng-disabled="isThereNoBallotBoxSelected()"
					   ng-if="tableFilter === 'MIXING'">
				<md-icon aria-label="{{'Update mixing status' | translate}}" md-svg-src="assets/icons/ic_autorenew_24px.svg"></md-icon>
				<span class="hide-xs" translate>Update mixing status</span>
			</md-button>
			<md-button aria-label="{{'Download' | translate}}"
					   class="md-primary md-raised"
					   id="Download"
					   ng-attr-title="{{getTextByBallotBoxSelected()}}"
					   ng-click="downloadBallotBox()"
					   ng-disabled="isThereNoBallotBoxSelected()"
					   ng-if="tableFilter === 'MIXED'">
				<md-icon aria-label="{{'Download' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
				<span class="hide-xs" translate>Download</span>
			</md-button>
			<md-button aria-label="{{'Decrypt' || translate}}"
					   class="md-primary md-raised"
					   id="Decrypt"
					   ng-attr-title="{{getTextByBallotBoxSelected()}}"
					   ng-click="decrypt()"
					   ng-disabled="isThereNoBallotBoxSelected()"
					   ng-if="tableFilter === 'DOWNLOADED'">
				<md-icon aria-label="{{'Decrypt' | translate}}" md-svg-src="assets/icons/ic_lock_open_24px.svg"></md-icon>
				<span class="hide-xs" translate>Decrypt</span>
			</md-button>
			<md-button aria-label="{{'Tally files generation' || translate}}"
					   class="md-primary md-raised"
					   id="generate_tally_files"
					   ng-attr-title="{{getTextTallyFilesGeneration()}}"
					   ng-click="generateTallyFiles()"
					   ng-disabled="!areSomeBallotBoxesReadyForTallyFilesGeneration()"
					   ng-if="tableFilter === 'DECRYPTED'">
				<md-icon aria-label="{{'Tally files generation' | translate}}" md-svg-src="assets/icons/ic_file_download_24px.svg"></md-icon>
				<span class="hide-xs" translate>Tally files generation</span>
			</md-button>
		</div>
		<div class="datatable-actions-auxiliary mbs">
			<div class="layout-row layout-align-start-center">
				<span class="md-caption hide-xs" translate>Ballot Boxes type:</span>
				<tab-bar class="filter-test" filter-active="filterActiveTest" filter-counter="typeCount" filter-tabs="filterTestTabs"
						 on-tab-selected="onTestSelected"></tab-bar>
			</div>
		</div>
	</div>
</div>

<div class="datatable-data">
	<table aria-describedby="" class="table">
		<thead>
		<tr>
			<td class="table-batchselector">
				<md-checkbox aria-label="{{'Checkbox'|translate}}" class="md-datatable-theme md-primary" data-ng-model="selectAll"
							 ng-change="onSelectAll(selectAll)"
							 ng-disabled="filteredRows.length === 0"
							 ng-hide="tableFilter === 'DECRYPTED'"></md-checkbox>
			</td>
			<th class="grow-2" scope="col">
				<span class="no-wrap" title="{{'Title'|translate}}" translate>Title</span>
			</th>
			<th scope="col">
				<span class="no-wrap" title="{{'Alias'|translate}}" translate>Alias</span>
			</th>
			<th scope="col">
				<span class="no-wrap" title="{{'Ballot'|translate}}" translate>Ballot</span>
			</th>
			<th scope="col">
				<span class="no-wrap" title="{{'Next step'|translate}}" translate>Next step</span>
			</th>
			<th scope="col">
				<span class="no-wrap" title="{{'Details'|translate}}" translate>Details</span>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr data-ng-repeat="ballotBox in ballotBoxes.result | filter: { status: tableFilter, test: tableFilterTest } as filteredRows">
			<td class="table-batchselector">
				<md-checkbox aria-label="{{'Select' | translate}}" class="md-datatable-theme md-primary"
							 ng-change="updateSelectAll(ballotBox.selected)"
							 ng-model="ballotBox.selected"
							 ng-hide="tableFilter === 'DECRYPTED'"></md-checkbox>
			</td>
			<td class="grow-2">{{ballotBox.defaultTitle}}</td>
			<td>{{ballotBox.alias}}</td>
			<td>{{ballotBox.ballotAlias}}</td>
			<td>
				<span ng-if="ballotBox.status=='LOCKED'" translate>Pending to generate voting card sets</span>
				<span ng-if="ballotBox.status=='READY'" translate>To sign</span>
				<span ng-if="ballotBox.status=='SIGNED'" translate>To mix</span>
				<span ng-if="ballotBox.status=='MIXING'" translate>To update</span>
				<span ng-if="ballotBox.status=='MIXED'" translate>To download</span>
				<span ng-if="ballotBox.status=='DOWNLOADED'" translate>To decrypt</span>
				<span ng-if="ballotBox.status=='DECRYPTED'">Done</span>
			</td>
			<td>
				<div class="no-wrap" title="{{ballotBox.details | translate}}">{{ballotBox.details | translate}}</div>
				<div data-ng-if="ballotBox.status=='SIGNED' && getMixingStatus(ballotBox.id) === 'ERROR'">
					<span>{{'Mixing ' + getMixingStatus(ballotBox.id) | translate}}</span>
				</div>
				<div data-ng-if="ballotBox.status=='MIXING' && getMixingStatus(ballotBox.id) === 'PROCESSING'">
					<span>{{'Mixing ' + getMixingStatus(ballotBox.id) | translate}}</span>
				</div>
				<div data-ng-if="ballotBox.status=='MIXING' && getMixingStatus(ballotBox.id) === 'ERROR'">
					<span>{{'Mixing ' + getMixingStatus(ballotBox.id) | translate}}</span>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
