<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<ng-container
    *ngIf="{
    error: error$ | async,
    loading: isLoading$ | async
  } as errorStream"
>
  <div class="container">
    <div
        class="alert alert-danger"
        role="alert"
        *ngIf="errorStream.error && !errorStream.loading && !errorStream.error.badKey"
    >
      <swp-backenderror id="backend_error" [error]="errorStream.error"></swp-backenderror>
    </div>

    <ng-container [ngSwitch]="cancelProcessService.cancelState">
      <ng-template #cancellationMessage let-contentKey="contentKey" let-messageId="messageId">
        <p
            [id]="messageId"
            class="alert alert-success d-flex align-items-center gap-3"
            role="alert"
        >
          <swp-icon name="check-lg"></swp-icon>
          <span [innerHTML]="contentKey | translate"></span>
        </p>
      </ng-template>

      <ng-container
          *ngSwitchCase="CancelState.CANCEL_VOTE"
          [ngTemplateOutletContext]="{ messageId: 'cancelMessage', contentKey: 'startvoting.cancel' }"
          [ngTemplateOutlet]="cancellationMessage"
      ></ng-container>

      <ng-container *ngSwitchCase="CancelState.LEAVE_PROCESS">
        <ng-container
            *ngIf="identification"
            [ngTemplateOutletContext]="{ messageId: 'leaveMessage', contentKey: 'startvoting.leave.' + identification }"
            [ngTemplateOutlet]="cancellationMessage"
        ></ng-container>
      </ng-container>

      <ng-container
          *ngSwitchCase="CancelState.QUIT"
          [ngTemplateOutletContext]="{ messageId: 'quitMessage', contentKey: 'startvoting.quittedsuccessfully' }"
          [ngTemplateOutlet]="cancellationMessage"
      ></ng-container>
    </ng-container>

    <h1 class="mt-5">{{ 'startvoting.title' | translate }}</h1>
    <p id="enterIdentificationCodeMessage" class="mt-3">
      <span *ngIf="identification">{{ ('startvoting.enterinitializationcode.' + identification) | translate }}</span>
      <br/>
      <span>{{ 'startvoting.browserinstructions' | translate }}</span>
    </p>

    <form
        class="mt-5"
        novalidate
        autocomplete="off"
        #startVotingForm="ngForm"
        (ngSubmit)="start()"
        [formGroup]="voterForm"
    >
      <!-- initialization code -->
      <div class="card">
        <div class="card-header">
          <label for="initializationCode" class="card-title gap-3 h4">
            <swp-icon class="voting-card-symbol" name="voting-card-triangle"></swp-icon>
            <span>{{ 'startvoting.key.label' | translate }}</span>
          </label>
          <button
              (click)="showFAQ()"
              class="btn btn-link"
              id="show-faq-link"
              type="button"
          >
            <swp-icon name="question-circle"></swp-icon>
            <span>{{ 'startvoting.key.help' | translate }}</span>
          </button>
        </div>
        <div class="card-body">
          <swp-clearable-input buttonLabel="startvoting.key.clear">
            <input
                type="text"
                id="initializationCode"
                class="form-control form-control-lg form-control-monospace"
                placeholder="____ ____ ____ ____ ____ ____"
                #startVotingInput
                aria-describedby="initializationCode-charcaseinfo initializationCode-required initializationCode-invalid"
                formControlName="initializationCode"
                [inputMask]="initializationCodeMask"
                [class.is-invalid]="initializationCode.invalid && startVotingForm.submitted"
                required
            />
          </swp-clearable-input>

          <p class="mt-2 mb-0 small">
            <em id="initializationCode-charcaseinfo">{{
                'startvoting.key.charcaseinfo' | translate
              }}</em>
          </p>

          <p
              id="initializationCode-required"
              class="alert alert-warning mt-3"
              *ngIf="initializationCode?.invalid && startVotingForm.submitted"
          >
            {{ 'startvoting.key.required' | translate: placeholders.currentValue }}
          </p>

          <ng-container
              *ngIf="
              errorStream.error &&
              !errorStream.loading &&
              $any(errorStream.error).badKey === true
            "
          >
            <p
                id="initializationCode-invalid"
                class="alert alert-danger mt-3"
            >
              {{ 'startvoting.key.invalid' | translate: placeholders.currentValue }}
            </p>
          </ng-container>
        </div>
      </div>

      <swp-identification
          [voterForm]="voterForm"
          [showErrors]="startVotingForm.submitted"
          [identification]="identification"
      ></swp-identification>

      <div class="footer-nav my-5 d-flex flex-column flex-sm-row-reverse gap-3">
        <button
            id="btn_start_voting"
            type="submit"
            class="btn btn-dark btn-lg"
            [disabled]="isLoading$ | async"
        >
          {{ 'startvoting.start' | translate }}
        </button>
        <button
            *ngIf="electionEventId$ | async as electionEventId"
            class="btn btn-link btn-lg"
            [routerLink]="['/legal-terms', electionEventId]"
        >
          {{ 'common.back' | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-container>
