<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div
    id="voting-progress-stepper"
    *ngIf="getStepKey(currentStep$ | async) as currentStepKey"
    class="container my-4 pb-1"
    role="group">
  <ol class="stepper">
    <ng-container *ngFor="let step of steps">
      <li
          *ngIf="getStepKey(step) as stepKey"
          [attr.aria-live]="stepKey === currentStepKey ? 'polite' : undefined"
          [attr.aria-current]="stepKey === currentStepKey ? 'step' : undefined"
          [attr.tabindex]="stepKey === currentStepKey ? -1 : undefined"
          class="stepper-item">
        <span>{{ stepKey | translate }}</span>
      </li>
    </ng-container>
  </ol>
</div>
