/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
@use "sass:color";
@use "styles/bootstrap-overrides" as app;

$stepper-item-height: 1.8em;
$stepper-item-margin-x: 0.5rem;

@mixin stepper-item-variant(
  $color,
  $content: counter(step-index),
  $label: app.$body-color,
) {
  color: $label;

  &::after {
    // Use of the same color system as for alerts for consistency
    // See https://getbootstrap.com/docs/5.1/components/alerts/#loop
    $background: if($color, app.shift-color($color, app.$alert-bg-scale), app.$body-bg);
    $border: if($color, app.shift-color($color, app.$alert-border-scale), app.$border-color);
    $color: if($color, app.shift-color($color, app.$alert-color-scale), app.$body-color);
    @if (app.contrast-ratio($background, $color) < app.$min-contrast-ratio) {
      $alert-color: mix($color, app.color-contrast($background), abs(app.$alert-color-scale));
    }

    content: $content;
    color: $color;
    border-color: $border;
    background-color: $background;
  }
}

.stepper {
  counter-reset: step-index;

  list-style: none;
  display: flex;
  border-bottom: app.$border-width solid app.$border-color;
  align-items: flex-end;
  padding: 0;
  margin: 0 (-1 * $stepper-item-margin-x) (0.5 * $stepper-item-height);
}

.stepper-item {
  @include stepper-item-variant($color: app.$green, $content: "\2714", $label: app.$text-muted);
  counter-increment: step-index;
  flex: 1 1 100%;
  text-align: center;
  margin-right: $stepper-item-margin-x;
  margin-left: $stepper-item-margin-x;
  margin-bottom: -0.5 * $stepper-item-height;

  &:focus-visible {
    outline: none;
  }

  &::after {
    display: block;
    width: $stepper-item-height;
    height: $stepper-item-height;
    line-height: $stepper-item-height;
    margin: 0.225em auto 0;
    border-width: app.$border-width;
    border-style: solid;
    border-radius: 50%;
  }

  &[aria-current] {
    @include stepper-item-variant($color: app.$blue);
    font-weight: bold;
  }

  &[aria-current] ~ & {
    @include stepper-item-variant($color: null);
  }
}

@include app.media-breakpoint-down(sm) {
  .stepper-item {
    // visually hide stepper item names
    white-space: nowrap;
    text-indent: 100%;
    line-height: 0;
    overflow: hidden;

    &::after {
      text-indent: 0;
    }
  }
}
