<!--
  (c) Copyright 2022 Swiss Post Ltd.
-->
<div class="modal-body m-5">
  <h1 class="mb-5" id="progress-title">
    <span [class.visually-hidden]="progressIsSlow">{{ titleLabel | translate }}</span>
    <span *ngIf="progressIsSlow" aria-hidden="true">{{ titleSlowLabel | translate }}</span>
  </h1>

  <progress [value]="estimatedProgress" aria-labelledby="progress-title" class="visually-hidden" max="100">
    {{estimatedProgress}}%
  </progress>

  <ol *ngFor="let step of steps; index as i" aria-hidden="true" class="list-unstyled">
    <li
        *ngIf="!steps[i - 1] || (steps[i - 1].isDone | async)"
        class="my-3 d-flex align-items-center gap-4"
    >
      <ng-container *ngIf="step.isDone | async; else loader">
        <swp-icon class="fs-2" name="check2"></swp-icon>
        <span>{{ step.doneLabel | translate }}</span>
      </ng-container>

      <ng-template #loader>
        <span class="spinner-border flex-shrink-0" role="status"></span>
        <span>{{  step.inProgressLabel | translate }}</span>
      </ng-template>
    </li>
  </ol>
</div>
