/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
@use "sass:map";
@use "styles/bootstrap-overrides" as app;
@use "styles/mixins/outline";

.btn {
  --#{app.$prefix}btn-hover-border-color: transparent;
  --#{app.$prefix}btn-active-border-color: transparent;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: map.get(app.$spacers, 2);

  &.aligned-with-text {
    margin-right: calc(-1 * var(--bs-btn-padding-x));
    margin-left: calc(-1 * var(--bs-btn-padding-x));
  }

  &:focus-visible {
    @include outline.outer;
    border-color: var(--bs-btn-border-color);
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    text-decoration: none;
  }
}

.btn-check:focus + .btn,
.btn:focus {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
}

@media (forced-colors: active) {
  .btn {
    transition: none;
    --bs-btn-border-color: ButtonText;
    --bs-btn-hover-color: Highlight;
    --bs-btn-hover-border-color: Highlight;
    --bs-btn-active-color: Highlight;
    --bs-btn-active-border-color: Highlight;
    --bs-btn-disabled-border-color: GrayText;

    &:focus:not(:focus-visible) {
      color: var(--bs-btn-hover-color);
      border-color: var(--bs-btn-hover-color);
    }

    &.btn-link {
      --bs-btn-color: LinkText;
      --bs-btn-border-color: Window;
      --bs-btn-hover-border-color: Window;
      --bs-btn-active-border-color: Window;
    }
  }
}

