/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
@use "styles/bootstrap-overrides" as app;
@use "apps/e-vote/src/styles/mixins/outline";
@use "apps/e-vote/src/styles/functions/forced-colors";

.form-check-label {
  @media (forced-colors: active) {
    color: ButtonText;

    &:hover,
    .form-check-input:hover ~ &,
    .form-check-input:focus ~ & {
      color: Highlight;
    }
  }
}

.form-check-input {
  &:focus-visible {
    @include outline.outer;
  }

  @media (forced-colors: active) {
    &,
    &:checked {
      border-color: ButtonText;
    }

    &:hover,
    &:focus,
    &:checked:focus {
      border-color: Highlight;
    }

    .form-switch & {
      background-color: ButtonFace;
      background-image: forced-colors.button-text(app.$form-switch-bg-image, app.$form-switch-color);

      &:focus,
      &:hover {
        background-image: forced-colors.highlight(app.$form-switch-bg-image, app.$form-switch-color);
      }
    }

    .form-switch &:checked {
      background-color: ButtonText;
      background-image: forced-colors.button-face(app.$form-switch-bg-image, app.$form-switch-color);

      &:focus,
      &:hover {
        background-color: Highlight;
      }
    }
  }
}

