/*
 * (c) Copyright 2022 Swiss Post Ltd.
 */
@use "sass:map";
@use "styles/bootstrap-overrides" as app;
@use "styles/mixins/outline";

.form-control {
  &-monospace {
    font-family: app.$font-family-monospace;
    letter-spacing: map.get(app.$spacers, 2);

    @include app.media-breakpoint-down(md) {
      letter-spacing: map.get(app.$spacers, 1);
    }
  }

  &:focus-visible {
    @include outline.outer
  }

  @media (forced-colors: active) {
    &,
    &:focus-visible {
      border-color: ButtonText;
    }

    &:hover,
    &:focus:not(:focus-visible) {
      border-color: Highlight;
    }
  }
}
